#players {
	grid-area: players;
}

.drafted {
	color: lightgray;
}

.player-list {
	display: table;
}

.player {
	display: table-row;
}

.player > div, .player-headers > div {
	display: table-cell;
	padding-right: 1em;
}

.player-headers {
	display: table-header-group;
}